<footer id="footer" class="font-small unique-color-dark">
  <div class="footer-copyright text-center py-4 fct">
    <p>This website was coded for a <a href="https://coodesh.com/" target="_blank">Coodesh</a> Challenge.</p>
  </div>
</footer>