<div class="container d-flex justify-content-center align-content-center align-items-center mt-5 mb-5">
  <div class="side-info-box bg-light card-body shadow-sm r-border-card f-color">
    <div class="row justify-content-center ">
      <div class="my-3 col-10">
        <p>Import a JSON file to update this dashboard</p>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center align-content-center align-items-center mt-5 mb-5">
  <div class="side-info-box bg-light card-body shadow-sm r-border-card f-color">
    <div class="row justify-content-center ">
      <div class="my-3 col-10">
        <form class="upload">
          <label for="json-file">Upload your JSON file: </label>
          <input id="json-file" type="file" name="uploadFile" accept=".json" required />
          <br/><br/>
         <input type="submit" />
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center align-content-center align-items-center mt-5 mb-5">
  <div class="side-info-box bg-light card-body shadow-sm r-border-card f-color">
    <div class="row justify-content-center ">
      <div class="my-3 col-10">
        <table class="table table-striped border">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Type</th>
              <th scope="col">Rating</th>
              <th scope="col">Price</th>
              <th scope="col">Created</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>