html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 80px; /* Margin bottom by footer height */
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color: #C5B1AD;
}

#footer p {
    color: #ffffff;
}

.fa-heart {
    color: #BF0F12;
}


  